{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Tune Fun REST API V1 Documentation",
    "description" : "Spring REST Docs with SwaggerUI.",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.tunefun.net"
  }, {
    "url" : "http://localhost:8080"
  } ],
  "tags" : [ ],
  "paths" : {
    "/oauth2/authorization/google" : {
      "get" : {
        "tags" : [ "oauth2" ],
        "summary" : "구글 소셜 로그인 페이지 진입",
        "description" : "구글 소셜 로그인 페이지 진입",
        "operationId" : "oauth2-authorization-google-success",
        "responses" : {
          "302" : {
            "description" : "302",
            "headers" : {
              "Location" : {
                "description" : "Redirect URL",
                "schema" : {
                  "type" : "string"
                }
              },
              "Set-Cookie" : {
                "description" : "Set-Cookie",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/check-email-duplicate" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "이메일 중복확인",
        "description" : "이메일 중복확인",
        "operationId" : "check-email-duplicate-",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "이메일",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "check-email-duplicate-success" : {
                    "value" : "{\n  \"message\" : \"사용가능한 이메일입니다.\",\n  \"code\" : \"2008\"\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "check-email-duplicate-failed" : {
                    "value" : "{\n  \"message\" : \"이메일이 중복입니다.\",\n  \"code\" : \"2006\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/check-email-verified" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "이메일 인증 여부 확인",
        "description" : "이메일 인증 여부 확인",
        "operationId" : "check-email-verified-success",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "AccessToken \"Bearer \" prefix",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Bearer eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6ImQyOGE5ODAwLTJiMzQtNDE5OC1hY2Y0LTI5ODhlNDg5YWQ2NCIsInN1YiI6IlhXQzRIMDdWTUhhb3RmIiwiaWF0IjoxNzEwMDAyNjQ3LCJuYmYiOjE3MTAwMDI2NDcsImV4cCI6MTcxMDAwMjgyN30.rUbJm4-gjtwjA6EEJdCiDjQDkIuwpBDfZ8Q3tPP7LROXzOX7Q4eYslgIbIOvUdKjiLeeQsWUyWFOitRYZY0NQQ"
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "check-email-verified-success" : {
                    "value" : "{\n  \"message\" : \"이메일 인증이 완료된 계정입니다.\",\n  \"code\" : \"2009\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/check-username-duplicate" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "아이디 중복확인",
        "description" : "아이디 중복확인",
        "operationId" : "check-username-duplicate-success",
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "아이디",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "check-username-duplicate-success" : {
                    "value" : "{\n  \"message\" : \"사용가능한 아이디입니다.\",\n  \"code\" : \"2007\"\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "check-username-duplicate-success-failed" : {
                    "value" : "{\n  \"message\" : \"아이디가 중복입니다.\",\n  \"code\" : \"2005\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/find-username" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "아이디 발송",
        "description" : "아이디 발송",
        "operationId" : "find-username-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-find-username-272417006"
              },
              "examples" : {
                "find-username-success" : {
                  "value" : "{\n  \"email\" : \"JVygnYo@HSqpi.com\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "find-username-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "로그인",
        "description" : "로그인",
        "operationId" : "login-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-login1041369120"
              },
              "examples" : {
                "login-success" : {
                  "value" : "{\n  \"username\" : \"BTR4b5itjxySn\",\n  \"password\" : \"kcOmcaTfDJj3CAGN\",\n  \"device\" : {\n    \"fcm_token\" : \"bh5m3WQS4xmF80j\",\n    \"device_token\" : \"4GxK29duiWTasy7\"\n  }\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-register913171478"
                },
                "examples" : {
                  "login-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"username\" : \"BTR4b5itjxySn\",\n    \"roles\" : [ \"CLIENT_0\" ],\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiJlYTMyNTJkMy04MjIxLTRmNDctODYzNC0xZWM5NWVmYjZkMWEiLCJzdWIiOiJCVFI0YjVpdGp4eVNuIiwiaWF0IjoxNzEwMDAyNjQ4LCJuYmYiOjE3MTAwMDI2NDgsImV4cCI6MTcxMDAwMjgyOH0.egfYUEhVsUSMJJDpKCBF5wYGfU1Z-xNA_6WNZHedk7WiZXAWlrWCnA12KV8wv58ss-jjxwbEcnOnLUr_MIcTUw\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiJlNWNhYTQwMi1mY2UzLTRiZTMtYTc1Ni05OWQ5MzRkZDExM2UiLCJzdWIiOiJCVFI0YjVpdGp4eVNuIiwiaWF0IjoxNzEwMDAyNjQ4LCJuYmYiOjE3MTAwMDI2NDgsImV4cCI6MTcxMjU5NDY0OH0.uul5eACzWr_c1Bvr1JJxXSI86v89pjbfO4UXgEdNP9HtlgYTNC1GNd6SdFMo-zKrHomKUhOCy8aHlYXeqcYrVg\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/logout" : {
      "put" : {
        "tags" : [ "v1" ],
        "summary" : "로그아웃",
        "description" : "로그아웃",
        "operationId" : "logout-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-logout1664018147"
              },
              "examples" : {
                "logout-success" : {
                  "value" : "{\n  \"fcm_token\" : \"qPNPsYmSalIQbQo\",\n  \"device_token\" : \"ZEFwXzq4L9mUJ3e\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "logout-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/refresh" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "Access Token 재발급",
        "description" : "Access Token 재발급",
        "operationId" : "refresh-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-refresh-73082285"
              },
              "examples" : {
                "refresh-success" : {
                  "value" : "{\n  \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6IjBjMTYyNWFhLTc2YmUtNDNjNS05NjE5LWYwMTExYTczYmY3MyIsInN1YiI6Im5HYXBNRHBVUEgiLCJpYXQiOjE3MTAwMDI2NDgsIm5iZiI6MTcxMDAwMjY0OCwiZXhwIjoxNzEyNTk0NjQ4fQ.BMzYmxg7NRSfUzSrGPHkQ3q7F1euc_TPjpZpeoZnvyOZcIjTk7UPMOOcIHhNbhEdi4Hvqmm0TfPmRcq4aDXoxw\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-refresh-698982642"
                },
                "examples" : {
                  "refresh-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6IjNhNjIwZTMzLWZmMTMtNDUwYy1hZTYzLWE2NzQ0NTYwZGRlMCIsInN1YiI6Im5HYXBNRHBVUEgiLCJpYXQiOjE3MTAwMDI2NDgsIm5iZiI6MTcxMDAwMjY0OCwiZXhwIjoxNzEwMDAyODI4fQ.ZOaKQRpcaE7OhnZlRKtV0ze95bxxj1ads7JZGNBQa4e59oz5Jxwt3Dl5SU3XHrHdl7dGoymBj-gaV-A-jxOKRA\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/register" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "회원가입",
        "description" : "회원가입",
        "operationId" : "register-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-register171397375"
              },
              "examples" : {
                "register-success" : {
                  "value" : "{\n  \"username\" : \"2wfaf612oTdPYz\",\n  \"password\" : \"EAnZtEqlVzFiz8P\",\n  \"email\" : \"JqZwtUl@cSLBi.com\",\n  \"nickname\" : \"dDraY\",\n  \"notification\" : {\n    \"vote_progress_notification\" : true,\n    \"vote_end_notification\" : true,\n    \"vote_delivery_notification\" : true\n  }\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-register913171478"
                },
                "examples" : {
                  "register-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"username\" : \"2wfaf612oTdPYz\",\n    \"roles\" : [ \"CLIENT_0\" ],\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiI5YTllZTY4MS01NDY0LTQwNmUtODAwZC1lYTg5MTdjMTQ5NjUiLCJzdWIiOiIyd2ZhZjYxMm9UZFBZeiIsImlhdCI6MTcxMDAwMjY0OSwibmJmIjoxNzEwMDAyNjQ5LCJleHAiOjE3MTAwMDI4Mjl9.l9G-zTHoeekKnWIygbj7FYFsZx4Kx6xT4OHnSfl8Jp8GZM58K2wudRTZ59NcmOENBGcDh9qVtSrkMVTrO16DFQ\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiI0MmVmM2Y0Zi04M2NhLTQwMTQtYjE2Yy0yY2FiOGRlMzZlNDMiLCJzdWIiOiIyd2ZhZjYxMm9UZFBZeiIsImlhdCI6MTcxMDAwMjY0OSwibmJmIjoxNzEwMDAyNjQ5LCJleHAiOjE3MTI1OTQ2NDl9.pW4MUQO0XYzh-7GeWMWAEAeG3f28RKgDdo34W7ma_Xm7464XP1qtxuqKIxUZ5igBmmqKdmorSddx423jXGfaPw\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/set-new-password" : {
      "patch" : {
        "tags" : [ "v1" ],
        "summary" : "비밀번호 재설정",
        "description" : "비밀번호 재설정",
        "operationId" : "set-new-password-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-set-new-password-35676860"
              },
              "examples" : {
                "set-new-password-success" : {
                  "value" : "{\n  \"new_password\" : \"ReOiLWBt6gnedoJ\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "set-new-password-success" : {
                    "value" : "{\n  \"message\" : \"비밀번호 재설정이 완료되었습니다.\",\n  \"code\" : \"2010\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/update-nickname" : {
      "patch" : {
        "tags" : [ "v1" ],
        "summary" : "닉네임 변경",
        "description" : "닉네임 변경",
        "operationId" : "update-nickname-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-update-nickname-1740837738"
              },
              "examples" : {
                "update-nickname-success" : {
                  "value" : "{\n  \"new_nickname\" : \"SHDKfR\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "update-nickname-success" : {
                    "value" : "{\n  \"message\" : \"닉네임 변경이 완료되었습니다.\",\n  \"code\" : \"2011\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/forgot-password/send-otp" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "비밀번호 찾기 OTP 발송",
        "description" : "비밀번호 찾기 OTP 발송",
        "operationId" : "send-forgot-password-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-forgot-password-send-otp-631624128"
              },
              "examples" : {
                "send-forgot-password-otp-success" : {
                  "value" : "{\n  \"username\" : \"TUHIannxZ5y\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "send-forgot-password-otp-success" : {
                    "value" : "{\n  \"message\" : \"비밀번호 찾기 인증번호가 전송되었습니다.\",\n  \"code\" : \"3106\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/otp/resend" : {
      "put" : {
        "tags" : [ "v1" ],
        "summary" : "OTP 재전송",
        "description" : "OTP 재전송",
        "operationId" : "resend-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-otp-resend411037104"
              },
              "examples" : {
                "resend-otp-success" : {
                  "value" : "{\n  \"username\" : \"02TWGO2tGh\",\n  \"otp_type\" : \"forgot-password\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "resend-otp-success" : {
                    "value" : "{\n  \"message\" : \"인증번호가 재전송되었습니다.\",\n  \"code\" : \"3107\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/otp/verify" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "OTP 인증",
        "description" : "OTP 인증",
        "operationId" : "verify-otp-",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-otp-verify-1050633976"
              },
              "examples" : {
                "verify-otp-success" : {
                  "value" : "{\n  \"username\" : \"wows2TAQbxbCU\",\n  \"otp_type\" : \"forgot-password\",\n  \"otp\" : \"988943\"\n}"
                },
                "verify-otp-fail-case1" : {
                  "value" : "{\n  \"username\" : \"NiRwn4ehPzGRam\",\n  \"otp_type\" : \"verify-email\",\n  \"otp\" : \"885427\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-verify-973595551"
                },
                "examples" : {
                  "verify-otp-success" : {
                    "value" : "{\n  \"message\" : \"인증번호가 인증되었습니다.\",\n  \"code\" : \"3104\",\n  \"data\" : {\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiI5N2M5YzMyOS05OTQwLTQ5YzctYjkxNy0zZDNmNTI5Y2JlMjIiLCJzdWIiOiJ3b3dzMlRBUWJ4YkNVIiwiaWF0IjoxNzEwMDAyNjUwLCJuYmYiOjE3MTAwMDI2NTAsImV4cCI6MTcxMDAwMjgzMH0.gmNUJPu5kzkt0aYvvghbdITzZ4Df003Qz0XVE2kwukZDj8jmPXARaFh8f9MGoWA-LjXKqSYcNxd-f0lLgkn8Jw\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiI2ZDY0OWMwNi1jMjVkLTQ3YWMtYTk2NC04Nzc3MGYyYzMxNDkiLCJzdWIiOiJ3b3dzMlRBUWJ4YkNVIiwiaWF0IjoxNzEwMDAyNjUwLCJuYmYiOjE3MTAwMDI2NTAsImV4cCI6MTcxMjU5NDY1MH0.2NSc9Bwp2gjoH6gMRdZ2awJ5yHDVntAu7s4ifWFhok50TuZT1MheRrN5v7fNBU5X3IBTi-06-cQNvSewwIiizA\"\n  }\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-check-username-duplicate1258249168"
                },
                "examples" : {
                  "verify-otp-fail-case1" : {
                    "value" : "{\n  \"message\" : \"인증번호가 일치하지 않습니다.\",\n  \"code\" : \"3101\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "v1-register171397375" : {
        "type" : "object",
        "properties" : {
          "notification" : {
            "type" : "object",
            "properties" : {
              "vote_delivery_notification" : {
                "type" : "boolean",
                "description" : "종료된 투표 영상 업로드 알림 여부"
              },
              "vote_progress_notification" : {
                "type" : "boolean",
                "description" : "투표 진행 알림 여부 설정"
              },
              "vote_end_notification" : {
                "type" : "boolean",
                "description" : "투표 종료 알림 여부 설정"
              }
            },
            "description" : "알림 설정"
          },
          "password" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "nickname" : {
            "type" : "string",
            "description" : "닉네임"
          },
          "email" : {
            "type" : "string",
            "description" : "이메일"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-otp-verify-1050633976" : {
        "type" : "object",
        "properties" : {
          "otp" : {
            "type" : "string",
            "description" : "OTP"
          },
          "otp_type" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-update-nickname-1740837738" : {
        "type" : "object",
        "properties" : {
          "new_nickname" : {
            "type" : "string",
            "description" : "새로운 닉네임"
          }
        }
      },
      "v1-logout1664018147" : {
        "type" : "object",
        "properties" : {
          "device_token" : {
            "type" : "string",
            "description" : "Device Token"
          },
          "fcm_token" : {
            "type" : "string",
            "description" : "Fcm Token"
          }
        }
      },
      "v1-check-username-duplicate1258249168" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "link:common/message-code.html[메시지 코드,role=\"popup\"]"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-otp-resend411037104" : {
        "type" : "object",
        "properties" : {
          "otp_type" : {
            "type" : "string",
            "description" : "Otp Type"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-find-username-272417006" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "이메일"
          }
        }
      },
      "v1-login1041369120" : {
        "type" : "object",
        "properties" : {
          "password" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "device" : {
            "type" : "object",
            "properties" : {
              "device_token" : {
                "type" : "string",
                "description" : "디바이스 토큰"
              },
              "fcm_token" : {
                "type" : "string",
                "description" : "FCM 토큰"
              }
            },
            "description" : "로그인 디바이스 정보"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-refresh-73082285" : {
        "type" : "object",
        "properties" : {
          "refresh_token" : {
            "type" : "string",
            "description" : "Refresh Token"
          }
        }
      },
      "v1-refresh-698982642" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "link:common/message-code.html[메시지 코드,role=\"popup\"]"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              }
            },
            "description" : "Response Data"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-otp-verify-973595551" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "link:common/message-code.html[메시지 코드,role=\"popup\"]"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              },
              "refresh_token" : {
                "type" : "string",
                "description" : "Refresh Token"
              }
            }
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-forgot-password-send-otp-631624128" : {
        "type" : "object",
        "properties" : {
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-register913171478" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "link:common/message-code.html[메시지 코드,role=\"popup\"]"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              },
              "refresh_token" : {
                "type" : "string",
                "description" : "Refresh Token"
              },
              "roles" : {
                "type" : "array",
                "description" : "권한",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "username" : {
                "type" : "string",
                "description" : "아이디"
              }
            },
            "description" : "데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-set-new-password-35676860" : {
        "type" : "object",
        "properties" : {
          "new_password" : {
            "type" : "string",
            "description" : "새로운 비밀번호"
          }
        }
      }
    },
    "securitySchemes" : {
      "bearerAuthJWT" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  }
}