{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Tune Fun REST API V1 Documentation",
    "description" : "Spring REST Docs with SwaggerUI.",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.tunefun.net"
  }, {
    "url" : "http://localhost:8080"
  } ],
  "tags" : [ ],
  "paths" : {
    "/v1/check-email-duplicate" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "이메일 중복확인",
        "description" : "이메일 중복확인",
        "operationId" : "check-email-duplicate-",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "이메일",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "check-email-duplicate-success" : {
                    "value" : "{\n  \"message\" : \"사용가능한 이메일입니다.\",\n  \"code\" : \"2008\"\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "check-email-duplicate-failed" : {
                    "value" : "{\n  \"message\" : \"이메일이 중복입니다.\",\n  \"code\" : \"2006\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/check-email-verified" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "이메일 인증 여부 확인",
        "description" : "이메일 인증 여부 확인",
        "operationId" : "check-email-verified-success",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "AccessToken \"Bearer \" prefix",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Bearer eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6ImI1NjllNWRkLWY0OTQtNDE5Ni05N2U4LTM1YWY0MTAwNzYxZiIsInN1YiI6Ik9laTFmemlWTnpzTSIsImlhdCI6MTcwOTcyMTgzMywibmJmIjoxNzA5NzIxODMzLCJleHAiOjE3MDk3MjIwMTN9.K0nqEIyItcdhCtoiDGwgAVJiKfYYrMUEYHJOoiBLOsbEelamGh2DqEUbt4UE3YgPlWPoj3aXuKGNrLPIZNmdCg"
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "check-email-verified-success" : {
                    "value" : "{\n  \"message\" : \"이메일 인증이 완료된 계정입니다.\",\n  \"code\" : \"2009\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/check-username-duplicate" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "아이디 중복확인",
        "description" : "아이디 중복확인",
        "operationId" : "check-username-duplicate-success",
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "아이디",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "check-username-duplicate-success" : {
                    "value" : "{\n  \"message\" : \"사용가능한 아이디입니다.\",\n  \"code\" : \"2007\"\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "check-username-duplicate-success-failed" : {
                    "value" : "{\n  \"message\" : \"아이디가 중복입니다.\",\n  \"code\" : \"2005\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/find-username" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "아이디 발송",
        "description" : "아이디 발송",
        "operationId" : "find-username-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-find-username-272417006"
              },
              "examples" : {
                "find-username-success" : {
                  "value" : "{\n  \"email\" : \"vDpeGWC@znYsh.com\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "find-username-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "로그인",
        "description" : "로그인",
        "operationId" : "login-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-login1041369120"
              },
              "examples" : {
                "login-success" : {
                  "value" : "{\n  \"username\" : \"nm2elvmWCjGt\",\n  \"password\" : \"YqnHdg1HxrfbbgC\",\n  \"device\" : {\n    \"fcm_token\" : \"tCNNUuuVxhTJsVE\",\n    \"device_token\" : \"1hVwNsivbywlmuX\"\n  }\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-login-985494254"
                },
                "examples" : {
                  "login-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"username\" : \"nm2elvmWCjGt\",\n    \"roles\" : [ \"CLIENT_0\" ],\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiIxNzdlOGUxOS1mMDUzLTRiMjUtOTc5My1lNjc3ZTgzOGQyYjEiLCJzdWIiOiJubTJlbHZtV0NqR3QiLCJpYXQiOjE3MDk3MjE4MzQsIm5iZiI6MTcwOTcyMTgzNCwiZXhwIjoxNzA5NzIyMDE0fQ.BJxKGhFuwnL92g9JH2IuWweJHi-mXMc45njGUCGM7IO4BNrPed8w66mc9b1HM4I4taqn4G6J1AFv0l-cw1lqVQ\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiIxODg5MzJmZi1lYjM5LTQ4YzAtYjEwZC1hNWVjYjAyM2ExNzYiLCJzdWIiOiJubTJlbHZtV0NqR3QiLCJpYXQiOjE3MDk3MjE4MzQsIm5iZiI6MTcwOTcyMTgzNCwiZXhwIjoxNzEyMzEzODM0fQ.UKDtfnLE6QR7B4xWv1jtU4OSLQbtExevLuFWphjvZjpb0ENVlchkJs868l-GLOUiEpY2RpMZ88Y3xwqswUcDjg\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/logout" : {
      "put" : {
        "tags" : [ "v1" ],
        "summary" : "로그아웃",
        "description" : "로그아웃",
        "operationId" : "logout-success",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "logout-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/refresh" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "Access Token 재발급",
        "description" : "Access Token 재발급",
        "operationId" : "refresh-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-refresh-73082285"
              },
              "examples" : {
                "refresh-success" : {
                  "value" : "{\n  \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6IjBlM2I2MWRjLTVhMDQtNDFmNS05MmNkLWQ3NGE3OGExNzIyYiIsInN1YiI6IjZHQWZPckt4bjI0IiwiaWF0IjoxNzA5NzIxODM0LCJuYmYiOjE3MDk3MjE4MzQsImV4cCI6MTcxMjMxMzgzNH0.qy_Uk_9hWEUUkSkBAu5NZWmrv8aXVjyGeManq8qZTCZHMTGNmpN1Uyrv9FsbQtlduYp7jABqv4Iq5qIQuryufQ\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-refresh1697318922"
                },
                "examples" : {
                  "refresh-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6ImVmNDBhMTMyLTZmMWUtNDVlNi05ZmQ3LWQ5ZjA1NTIzNTgwZiIsInN1YiI6IjZHQWZPckt4bjI0IiwiaWF0IjoxNzA5NzIxODM0LCJuYmYiOjE3MDk3MjE4MzQsImV4cCI6MTcwOTcyMjAxNH0.jAkOqfLdGEr7UVNlQsCjdQk-RdvxYU5wwbCWreS2bA8tDdq3aBPyxCJSU786hHSg_6D_EGDvRn1brICiUvnzxQ\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/register" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "회원가입",
        "description" : "회원가입",
        "operationId" : "register-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-register171397375"
              },
              "examples" : {
                "register-success" : {
                  "value" : "{\n  \"username\" : \"lKyxVEy5H6UoX\",\n  \"password\" : \"6bgy1EaVj9zggzyB\",\n  \"email\" : \"XHDYzwf@WALHR.com\",\n  \"nickname\" : \"HVinx\",\n  \"notification\" : {\n    \"vote_progress_notification\" : true,\n    \"vote_end_notification\" : true,\n    \"vote_delivery_notification\" : true\n  }\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-login-985494254"
                },
                "examples" : {
                  "register-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"username\" : \"lKyxVEy5H6UoX\",\n    \"roles\" : [ \"CLIENT_0\" ],\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiIwMTMwMzk2Ny0xZmQ0LTQ3ZDUtYjc2NC01MThiNTg0ZjA4NTUiLCJzdWIiOiJsS3l4VkV5NUg2VW9YIiwiaWF0IjoxNzA5NzIxODM0LCJuYmYiOjE3MDk3MjE4MzQsImV4cCI6MTcwOTcyMjAxNH0.KArn5hggpAjNOb38bX1EDbME801D2mLwItG3m2TkEq8TBAOhK-xdFSjgfvsCsfqTeyP3KWWtLEYj2sMJS7oA7A\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiIyYjI3ODk1Zi02MjY5LTQ1YTYtYjgzNC1mYmI4YTgzNDRjNjIiLCJzdWIiOiJsS3l4VkV5NUg2VW9YIiwiaWF0IjoxNzA5NzIxODM0LCJuYmYiOjE3MDk3MjE4MzQsImV4cCI6MTcxMjMxMzgzNH0.hoivT1bQVl6d5AnhJ4GqmfiSnbJlI1cfrQQ4Rdj9AUqLSycUfIMCVFYQCXsYy9mWndWjmixFlR0tAT5nxsdTcw\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/set-new-password" : {
      "patch" : {
        "tags" : [ "v1" ],
        "summary" : "비밀번호 재설정",
        "description" : "비밀번호 재설정",
        "operationId" : "set-new-password-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-set-new-password-35676860"
              },
              "examples" : {
                "set-new-password-success" : {
                  "value" : "{\n  \"new_password\" : \"5bOXadkoELbFOs2\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "set-new-password-success" : {
                    "value" : "{\n  \"message\" : \"비밀번호 재설정이 완료되었습니다.\",\n  \"code\" : \"2010\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/update-nickname" : {
      "patch" : {
        "tags" : [ "v1" ],
        "summary" : "닉네임 변경",
        "description" : "닉네임 변경",
        "operationId" : "update-nickname-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-update-nickname-1740837738"
              },
              "examples" : {
                "update-nickname-success" : {
                  "value" : "{\n  \"new_nickname\" : \"7QT256\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "update-nickname-success" : {
                    "value" : "{\n  \"message\" : \"닉네임 변경이 완료되었습니다.\",\n  \"code\" : \"2011\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/forgot-password/send-otp" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "비밀번호 찾기 OTP 발송",
        "description" : "비밀번호 찾기 OTP 발송",
        "operationId" : "send-forgot-password-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-forgot-password-send-otp-631624128"
              },
              "examples" : {
                "send-forgot-password-otp-success" : {
                  "value" : "{\n  \"username\" : \"5QOYtouUFG\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "send-forgot-password-otp-success" : {
                    "value" : "{\n  \"message\" : \"비밀번호 찾기 인증번호가 전송되었습니다.\",\n  \"code\" : \"3106\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/otp/resend" : {
      "put" : {
        "tags" : [ "v1" ],
        "summary" : "OTP 재전송",
        "description" : "OTP 재전송",
        "operationId" : "resend-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-otp-resend411037104"
              },
              "examples" : {
                "resend-otp-success" : {
                  "value" : "{\n  \"username\" : \"3gDPQBfDgOiB\",\n  \"otp_type\" : \"forgot-password\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "resend-otp-success" : {
                    "value" : "{\n  \"message\" : \"인증번호가 재전송되었습니다.\",\n  \"code\" : \"3107\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/otp/verify" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "OTP 인증",
        "description" : "OTP 인증",
        "operationId" : "otp-verify-fail-case1verify-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-otp-verify-1050633976"
              },
              "examples" : {
                "verify-otp-success" : {
                  "value" : "{\n  \"username\" : \"g96FHrLNs1fGsO\",\n  \"otp_type\" : \"forgot-password\",\n  \"otp\" : \"179925\"\n}"
                },
                "otp-verify-fail-case1" : {
                  "value" : "{\n  \"username\" : \"I7Hg1Ko11Wd\",\n  \"otp_type\" : \"verify-email\",\n  \"otp\" : \"193596\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-verify1422706013"
                },
                "examples" : {
                  "verify-otp-success" : {
                    "value" : "{\n  \"message\" : \"인증번호가 인증되었습니다.\",\n  \"code\" : \"3104\",\n  \"data\" : {\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiJmMjY4NTZkNS1kNjc1LTRhZmUtYTQ1My01OGUwMDhjMWYzMTciLCJzdWIiOiJnOTZGSHJMTnMxZkdzTyIsImlhdCI6MTcwOTcyMTgzNiwibmJmIjoxNzA5NzIxODM2LCJleHAiOjE3MDk3MjIwMTZ9.D_QDuvkDaDOQp6g7x_zemSxFH_pYb9ZgUv-5g83NxRDiTAr0yAo1EVwNZ1rxNSlnbL8KIBOwZtz49Uo8biMK6w\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiJlYWNlZDMyNS1jMmFiLTQ2N2EtODMyZC1kYjMyOGNkNjJmODEiLCJzdWIiOiJnOTZGSHJMTnMxZkdzTyIsImlhdCI6MTcwOTcyMTgzNiwibmJmIjoxNzA5NzIxODM2LCJleHAiOjE3MTIzMTM4MzZ9.6XXkfFNS_3TBhR_ia3FNspL9arY_oL1emK3VKqTwgmeyh0TliLCFaavtpXmLr-N2ZZ_zL5cKUEsTPLwqqgHgbw\"\n  }\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-resend-640416564"
                },
                "examples" : {
                  "otp-verify-fail-case1" : {
                    "value" : "{\n  \"message\" : \"인증번호가 일치하지 않습니다.\",\n  \"code\" : \"3101\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "v1-refresh1697318922" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              }
            },
            "description" : "Response Data"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-register171397375" : {
        "type" : "object",
        "properties" : {
          "notification" : {
            "type" : "object",
            "properties" : {
              "vote_delivery_notification" : {
                "type" : "boolean",
                "description" : "종료된 투표 영상 업로드 알림 여부"
              },
              "vote_progress_notification" : {
                "type" : "boolean",
                "description" : "투표 진행 알림 여부 설정"
              },
              "vote_end_notification" : {
                "type" : "boolean",
                "description" : "투표 종료 알림 여부 설정"
              }
            },
            "description" : "알림 설정"
          },
          "password" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "nickname" : {
            "type" : "string",
            "description" : "닉네임"
          },
          "email" : {
            "type" : "string",
            "description" : "이메일"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-otp-verify-1050633976" : {
        "type" : "object",
        "properties" : {
          "otp" : {
            "type" : "string",
            "description" : "OTP"
          },
          "otp_type" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-update-nickname-1740837738" : {
        "type" : "object",
        "properties" : {
          "new_nickname" : {
            "type" : "string",
            "description" : "새로운 닉네임"
          }
        }
      },
      "v1-otp-resend411037104" : {
        "type" : "object",
        "properties" : {
          "otp_type" : {
            "type" : "string",
            "description" : "Otp Type"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-login-985494254" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              },
              "refresh_token" : {
                "type" : "string",
                "description" : "Refresh Token"
              },
              "roles" : {
                "type" : "array",
                "description" : "권한",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "username" : {
                "type" : "string",
                "description" : "아이디"
              }
            },
            "description" : "데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-find-username-272417006" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "이메일"
          }
        }
      },
      "v1-otp-verify1422706013" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              },
              "refresh_token" : {
                "type" : "string",
                "description" : "Refresh Token"
              }
            }
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-login1041369120" : {
        "type" : "object",
        "properties" : {
          "password" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "device" : {
            "type" : "object",
            "properties" : {
              "device_token" : {
                "type" : "string",
                "description" : "디바이스 토큰"
              },
              "fcm_token" : {
                "type" : "string",
                "description" : "FCM 토큰"
              }
            },
            "description" : "로그인 디바이스 정보"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-refresh-73082285" : {
        "type" : "object",
        "properties" : {
          "refresh_token" : {
            "type" : "string",
            "description" : "Refresh Token"
          }
        }
      },
      "v1-otp-resend-640416564" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-forgot-password-send-otp-631624128" : {
        "type" : "object",
        "properties" : {
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-set-new-password-35676860" : {
        "type" : "object",
        "properties" : {
          "new_password" : {
            "type" : "string",
            "description" : "새로운 비밀번호"
          }
        }
      }
    },
    "securitySchemes" : {
      "bearerAuthJWT" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  }
}