{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Tune Fun REST API V1 Documentation",
    "description" : "Spring REST Docs with SwaggerUI.",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.tunefun.net"
  }, {
    "url" : "http://localhost:8080"
  } ],
  "tags" : [ ],
  "paths" : {
    "/oauth2/authorization/google" : {
      "get" : {
        "tags" : [ "oauth2" ],
        "summary" : "구글 소셜 로그인 페이지 진입, 성공",
        "description" : "구글 소셜 로그인 페이지 진입, 성공",
        "operationId" : "oauth2-authorization-google-success",
        "responses" : {
          "302" : {
            "description" : "302",
            "headers" : {
              "Location" : {
                "description" : "Redirect URL",
                "schema" : {
                  "type" : "string"
                }
              },
              "Set-Cookie" : {
                "description" : "Set-Cookie",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/check-email-duplicate" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "이메일 중복확인",
        "description" : "이메일 중복확인",
        "operationId" : "check-email-duplicate-",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "이메일",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "check-email-duplicate-success" : {
                    "value" : "{\n  \"message\" : \"사용가능한 이메일입니다.\",\n  \"code\" : \"2008\"\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "check-email-duplicate-failed" : {
                    "value" : "{\n  \"message\" : \"이메일이 중복입니다.\",\n  \"code\" : \"2006\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/check-email-verified" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "이메일 인증 여부 확인",
        "description" : "이메일 인증 여부 확인",
        "operationId" : "check-email-verified-success",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "AccessToken \"Bearer \" prefix",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Bearer eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6IjQxODczYTJlLWQ2ODgtNDY1OS1iN2VjLTBjYTQyZjdkMWE2MSIsInN1YiI6Ik9zVkVnZ0tXMTdBIiwiaWF0IjoxNzA5Nzc5Mzc4LCJuYmYiOjE3MDk3NzkzNzgsImV4cCI6MTcwOTc3OTU1OH0.Ah5DcAaYWD6Ca626Zj4GHxQyR0G4Mc-PIWqEHMUoUvXws0u-0WjJJI9rA8CHv-50pjtxquMzbAhpPVGTASHyLw"
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "check-email-verified-success" : {
                    "value" : "{\n  \"message\" : \"이메일 인증이 완료된 계정입니다.\",\n  \"code\" : \"2009\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/check-username-duplicate" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "아이디 중복확인",
        "description" : "아이디 중복확인",
        "operationId" : "check-username-duplicate-success",
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "아이디",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "check-username-duplicate-success" : {
                    "value" : "{\n  \"message\" : \"사용가능한 아이디입니다.\",\n  \"code\" : \"2007\"\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "check-username-duplicate-success-failed" : {
                    "value" : "{\n  \"message\" : \"아이디가 중복입니다.\",\n  \"code\" : \"2005\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/find-username" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "아이디 발송",
        "description" : "아이디 발송",
        "operationId" : "find-username-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-find-username-272417006"
              },
              "examples" : {
                "find-username-success" : {
                  "value" : "{\n  \"email\" : \"ucJgaJJ@KpdrV.com\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "find-username-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "로그인",
        "description" : "로그인",
        "operationId" : "login-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-login1041369120"
              },
              "examples" : {
                "login-success" : {
                  "value" : "{\n  \"username\" : \"is91g8e5DC\",\n  \"password\" : \"xjBq2gxZlx5V8ii4\",\n  \"device\" : {\n    \"fcm_token\" : \"baTKcbCCCTh2Dnw\",\n    \"device_token\" : \"QbN42gji0RabzWP\"\n  }\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-register-985494254"
                },
                "examples" : {
                  "login-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"username\" : \"is91g8e5DC\",\n    \"roles\" : [ \"CLIENT_0\" ],\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiIxZmVlY2JjYy04NjcwLTQ5MWMtYWIyMi04ZDJkYjYxNjM5ZDUiLCJzdWIiOiJpczkxZzhlNURDIiwiaWF0IjoxNzA5Nzc5Mzc5LCJuYmYiOjE3MDk3NzkzNzksImV4cCI6MTcwOTc3OTU1OX0.ts7U1hU-jJSLxdRuW62VdvpFNJfuUdZk0hxep5r5p-RWx4JxwKqX2xkz_5_-Sem0bP-oV1PIB3opHk6ir3kLOQ\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiJjNjRjYTQxNC1iNzJiLTRkMTYtOTZmMS1lMzVlZDM2ZWY4YTQiLCJzdWIiOiJpczkxZzhlNURDIiwiaWF0IjoxNzA5Nzc5Mzc5LCJuYmYiOjE3MDk3NzkzNzksImV4cCI6MTcxMjM3MTM3OX0.qeH_pfDM1wFB_Ekvrt0zsjtxK66lwUczBQG8Sz1Yrkh0rH3mPpYiClpnbGmrEd-dVFqHNoc5eEDFcTkco24NWQ\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/logout" : {
      "put" : {
        "tags" : [ "v1" ],
        "summary" : "로그아웃",
        "description" : "로그아웃",
        "operationId" : "logout-success",
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "logout-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/refresh" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "Access Token 재발급",
        "description" : "Access Token 재발급",
        "operationId" : "refresh-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-refresh-73082285"
              },
              "examples" : {
                "refresh-success" : {
                  "value" : "{\n  \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6IjQxMDkwYmFlLTY4NzktNDU0NS04NTVlLTRkNjEyNjMyOGQ3YyIsInN1YiI6Ik9kUGxqVG1xR04zIiwiaWF0IjoxNzA5Nzc5Mzc5LCJuYmYiOjE3MDk3NzkzNzksImV4cCI6MTcxMjM3MTM3OX0.L52H7yXtpGeek1mEI7uuye9pZSlWUEIRCRy_ZMBrolvvJ2k2klh1ZRq3s-oPJmSOI5IYZM-xIzwEo4kB09NHbQ\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-refresh1697318922"
                },
                "examples" : {
                  "refresh-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6ImRiNmZlZTg2LTE1ZDEtNDA4ZS1iNTFmLWZhNjU3YTkzODZlZSIsInN1YiI6Ik9kUGxqVG1xR04zIiwiaWF0IjoxNzA5Nzc5Mzc5LCJuYmYiOjE3MDk3NzkzNzksImV4cCI6MTcwOTc3OTU1OX0.Rn_PDhAy11ESO0UNP2h3PMBpqc1C7838t3nN-_MlyYngFMKmS9zM7dqU7_Zuk9K_VO2ev5PYRwQxCJV-woixAg\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/register" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "회원가입",
        "description" : "회원가입",
        "operationId" : "register-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-register171397375"
              },
              "examples" : {
                "register-success" : {
                  "value" : "{\n  \"username\" : \"CTONHhIPK81s7\",\n  \"password\" : \"V9fj3LYMZkqn8Qx1BXM\",\n  \"email\" : \"sokzuWX@XjMgD.com\",\n  \"nickname\" : \"mjHWE\",\n  \"notification\" : {\n    \"vote_progress_notification\" : true,\n    \"vote_end_notification\" : true,\n    \"vote_delivery_notification\" : true\n  }\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-register-985494254"
                },
                "examples" : {
                  "register-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"username\" : \"CTONHhIPK81s7\",\n    \"roles\" : [ \"CLIENT_0\" ],\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiJhMDQ2ZDk2MC1jMGQyLTQ4YmMtYmVmOC04NzkyYjQ1Yjc2ODMiLCJzdWIiOiJDVE9OSGhJUEs4MXM3IiwiaWF0IjoxNzA5Nzc5Mzc5LCJuYmYiOjE3MDk3NzkzNzksImV4cCI6MTcwOTc3OTU1OX0.S-AgDH1xdNV92PdXSJmoTJJ5iKCm1kvf0Ym0SEbhJrCv55BWb5DtaVYgALs3Axfiq02bZR_LcjYlqHMthbTpiA\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiJkZTk1YzQ5Zi02ZTc1LTRhN2YtOGNlNy05OWI1NGJlNWEzNjYiLCJzdWIiOiJDVE9OSGhJUEs4MXM3IiwiaWF0IjoxNzA5Nzc5Mzc5LCJuYmYiOjE3MDk3NzkzNzksImV4cCI6MTcxMjM3MTM3OX0.rFa2RzF_Njn8ninZ5l1vtLao0X3CFG6hdahPOgKHFJvSnDEH598O5dQebOGi-XwZxZw6zuIZ1CDnasIz2oRy0g\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/set-new-password" : {
      "patch" : {
        "tags" : [ "v1" ],
        "summary" : "비밀번호 재설정",
        "description" : "비밀번호 재설정",
        "operationId" : "set-new-password-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-set-new-password-35676860"
              },
              "examples" : {
                "set-new-password-success" : {
                  "value" : "{\n  \"new_password\" : \"XVMvvWMwAdZVAZm\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "set-new-password-success" : {
                    "value" : "{\n  \"message\" : \"비밀번호 재설정이 완료되었습니다.\",\n  \"code\" : \"2010\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/update-nickname" : {
      "patch" : {
        "tags" : [ "v1" ],
        "summary" : "닉네임 변경",
        "description" : "닉네임 변경",
        "operationId" : "update-nickname-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-update-nickname-1740837738"
              },
              "examples" : {
                "update-nickname-success" : {
                  "value" : "{\n  \"new_nickname\" : \"Pkz4Yx\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "update-nickname-success" : {
                    "value" : "{\n  \"message\" : \"닉네임 변경이 완료되었습니다.\",\n  \"code\" : \"2011\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/forgot-password/send-otp" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "비밀번호 찾기 OTP 발송",
        "description" : "비밀번호 찾기 OTP 발송",
        "operationId" : "send-forgot-password-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-forgot-password-send-otp-631624128"
              },
              "examples" : {
                "send-forgot-password-otp-success" : {
                  "value" : "{\n  \"username\" : \"Ns4L2QJdV9c\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "send-forgot-password-otp-success" : {
                    "value" : "{\n  \"message\" : \"비밀번호 찾기 인증번호가 전송되었습니다.\",\n  \"code\" : \"3106\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/otp/resend" : {
      "put" : {
        "tags" : [ "v1" ],
        "summary" : "OTP 재전송",
        "description" : "OTP 재전송",
        "operationId" : "resend-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-otp-resend411037104"
              },
              "examples" : {
                "resend-otp-success" : {
                  "value" : "{\n  \"username\" : \"du5FLLR9fs4MM\",\n  \"otp_type\" : \"forgot-password\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "resend-otp-success" : {
                    "value" : "{\n  \"message\" : \"인증번호가 재전송되었습니다.\",\n  \"code\" : \"3107\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/otp/verify" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "OTP 인증",
        "description" : "OTP 인증",
        "operationId" : "otp-verify-fail-case1verify-otp-fail-case1verify-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-otp-verify-1050633976"
              },
              "examples" : {
                "verify-otp-success" : {
                  "value" : "{\n  \"username\" : \"mr3uPnFw0UDSrl\",\n  \"otp_type\" : \"forgot-password\",\n  \"otp\" : \"223649\"\n}"
                },
                "otp-verify-fail-case1" : {
                  "value" : "{\n  \"username\" : \"pGpVA2LR0Ux\",\n  \"otp_type\" : \"verify-email\",\n  \"otp\" : \"667415\"\n}"
                },
                "verify-otp-fail-case1" : {
                  "value" : "{\n  \"username\" : \"oVgtG4zQw3f\",\n  \"otp_type\" : \"verify-email\",\n  \"otp\" : \"337717\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-verify1422706013"
                },
                "examples" : {
                  "verify-otp-success" : {
                    "value" : "{\n  \"message\" : \"인증번호가 인증되었습니다.\",\n  \"code\" : \"3104\",\n  \"data\" : {\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiIxMmFlMDU3Zi0xNWVlLTQ1NGMtYjEzMy1lMDQwYmY0NDE4NjUiLCJzdWIiOiJtcjN1UG5GdzBVRFNybCIsImlhdCI6MTcwOTc3OTM4MiwibmJmIjoxNzA5Nzc5MzgyLCJleHAiOjE3MDk3Nzk1NjJ9.eSh0FOmE56s6kDrHx0vIYCTz3WayzjxyBezEA3XoL923nteZijN_5YR4xKaVZrYV_HI907n2SmbSITqBaDH0vw\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiJhMmM2ODllMi01NjBlLTRkMmItYjE2Zi00YTU0OGY1OGFmMGYiLCJzdWIiOiJtcjN1UG5GdzBVRFNybCIsImlhdCI6MTcwOTc3OTM4MiwibmJmIjoxNzA5Nzc5MzgyLCJleHAiOjE3MTIzNzEzODJ9.2UIFLwisaiMik3nIBydDdh_MwL8tohZ10P2NfXCwHhByzPhBkyDS5-UBxJksieA9YEFxBwkQ-qPuDDkr1EEUQA\"\n  }\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-find-username-640416564"
                },
                "examples" : {
                  "otp-verify-fail-case1" : {
                    "value" : "{\n  \"message\" : \"인증번호가 일치하지 않습니다.\",\n  \"code\" : \"3101\"\n}"
                  },
                  "verify-otp-fail-case1" : {
                    "value" : "{\n  \"message\" : \"인증번호가 일치하지 않습니다.\",\n  \"code\" : \"3101\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "v1-refresh1697318922" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              }
            },
            "description" : "Response Data"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-otp-verify-1050633976" : {
        "type" : "object",
        "properties" : {
          "otp" : {
            "type" : "string",
            "description" : "OTP"
          },
          "otp_type" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-register171397375" : {
        "type" : "object",
        "properties" : {
          "notification" : {
            "type" : "object",
            "properties" : {
              "vote_delivery_notification" : {
                "type" : "boolean",
                "description" : "종료된 투표 영상 업로드 알림 여부"
              },
              "vote_progress_notification" : {
                "type" : "boolean",
                "description" : "투표 진행 알림 여부 설정"
              },
              "vote_end_notification" : {
                "type" : "boolean",
                "description" : "투표 종료 알림 여부 설정"
              }
            },
            "description" : "알림 설정"
          },
          "password" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "nickname" : {
            "type" : "string",
            "description" : "닉네임"
          },
          "email" : {
            "type" : "string",
            "description" : "이메일"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-update-nickname-1740837738" : {
        "type" : "object",
        "properties" : {
          "new_nickname" : {
            "type" : "string",
            "description" : "새로운 닉네임"
          }
        }
      },
      "v1-otp-resend411037104" : {
        "type" : "object",
        "properties" : {
          "otp_type" : {
            "type" : "string",
            "description" : "Otp Type"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-register-985494254" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              },
              "refresh_token" : {
                "type" : "string",
                "description" : "Refresh Token"
              },
              "roles" : {
                "type" : "array",
                "description" : "권한",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "username" : {
                "type" : "string",
                "description" : "아이디"
              }
            },
            "description" : "데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-find-username-272417006" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "이메일"
          }
        }
      },
      "v1-otp-verify1422706013" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              },
              "refresh_token" : {
                "type" : "string",
                "description" : "Refresh Token"
              }
            }
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-login1041369120" : {
        "type" : "object",
        "properties" : {
          "password" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "device" : {
            "type" : "object",
            "properties" : {
              "device_token" : {
                "type" : "string",
                "description" : "디바이스 토큰"
              },
              "fcm_token" : {
                "type" : "string",
                "description" : "FCM 토큰"
              }
            },
            "description" : "로그인 디바이스 정보"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-refresh-73082285" : {
        "type" : "object",
        "properties" : {
          "refresh_token" : {
            "type" : "string",
            "description" : "Refresh Token"
          }
        }
      },
      "v1-find-username-640416564" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-forgot-password-send-otp-631624128" : {
        "type" : "object",
        "properties" : {
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-set-new-password-35676860" : {
        "type" : "object",
        "properties" : {
          "new_password" : {
            "type" : "string",
            "description" : "새로운 비밀번호"
          }
        }
      }
    },
    "securitySchemes" : {
      "bearerAuthJWT" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  }
}