{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Tune Fun REST API V1 Documentation",
    "description" : "Spring REST Docs with SwaggerUI.",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.tunefun.net"
  }, {
    "url" : "http://localhost:8080"
  } ],
  "tags" : [ ],
  "paths" : {
    "/oauth2/authorization/google" : {
      "get" : {
        "tags" : [ "oauth2" ],
        "summary" : "구글 소셜 로그인 페이지 진입",
        "description" : "구글 소셜 로그인 페이지 진입",
        "operationId" : "oauth2-authorization-google-success",
        "responses" : {
          "302" : {
            "description" : "302",
            "headers" : {
              "Location" : {
                "description" : "Redirect URL",
                "schema" : {
                  "type" : "string"
                }
              },
              "Set-Cookie" : {
                "description" : "Set-Cookie",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/check-email-duplicate" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "이메일 중복확인",
        "description" : "이메일 중복확인",
        "operationId" : "check-email-duplicate-",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "이메일",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "check-email-duplicate-success" : {
                    "value" : "{\n  \"message\" : \"사용가능한 이메일입니다.\",\n  \"code\" : \"2008\"\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "check-email-duplicate-failed" : {
                    "value" : "{\n  \"message\" : \"이메일이 중복입니다.\",\n  \"code\" : \"2006\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/check-email-verified" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "이메일 인증 여부 확인",
        "description" : "이메일 인증 여부 확인",
        "operationId" : "check-email-verified-success",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "AccessToken \"Bearer \" prefix",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Bearer eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6IjZiZTNhNmFiLWIxZGMtNGY3NC04MmVkLTQ1NTI2OGQ1NDg1YyIsInN1YiI6Imt3d1VWRHJRZnAiLCJpYXQiOjE3MDk4ODUwNjIsIm5iZiI6MTcwOTg4NTA2MiwiZXhwIjoxNzA5ODg1MjQyfQ.aCXy_-28UK_cZXoT11eL7U09lPdOZsctxM8z5h1MG0CsZMaYik-nb_EU0V1eC3zzeLv_PdC0zpMpySVa-c_yaA"
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "check-email-verified-success" : {
                    "value" : "{\n  \"message\" : \"이메일 인증이 완료된 계정입니다.\",\n  \"code\" : \"2009\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/check-username-duplicate" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "아이디 중복확인",
        "description" : "아이디 중복확인",
        "operationId" : "check-username-duplicate-success",
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "아이디",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "check-username-duplicate-success" : {
                    "value" : "{\n  \"message\" : \"사용가능한 아이디입니다.\",\n  \"code\" : \"2007\"\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "check-username-duplicate-success-failed" : {
                    "value" : "{\n  \"message\" : \"아이디가 중복입니다.\",\n  \"code\" : \"2005\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/find-username" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "아이디 발송",
        "description" : "아이디 발송",
        "operationId" : "find-username-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-find-username-272417006"
              },
              "examples" : {
                "find-username-success" : {
                  "value" : "{\n  \"email\" : \"zwLvbHl@dacbw.com\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "find-username-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "로그인",
        "description" : "로그인",
        "operationId" : "login-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-login1041369120"
              },
              "examples" : {
                "login-success" : {
                  "value" : "{\n  \"username\" : \"Od6JV5MCJHu\",\n  \"password\" : \"mbHkbaB29je9DtCBjp\",\n  \"device\" : {\n    \"fcm_token\" : \"ijSZ8fkIHoHS7bp\",\n    \"device_token\" : \"m6f7LO3cvaH6BER\"\n  }\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-login-985494254"
                },
                "examples" : {
                  "login-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"username\" : \"Od6JV5MCJHu\",\n    \"roles\" : [ \"CLIENT_0\" ],\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiI3OTZkMjE0YS1iZWE5LTQyYWItOTMwNS00Njk3MjJkMTI1MmEiLCJzdWIiOiJPZDZKVjVNQ0pIdSIsImlhdCI6MTcwOTg4NTA2MiwibmJmIjoxNzA5ODg1MDYyLCJleHAiOjE3MDk4ODUyNDJ9.lx6s8j3uYK30uiu830r43X6wDR7bAKIlQ_8trsn4ykRHYRaJ9s1_Dbgw7-b8SDRrN2IEWMXimq5z2YBRtg7oeg\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiIwMzY2NzRkYS1lYzU5LTQ2MzgtODRlOC0yOWE1NDRiYzAyMWMiLCJzdWIiOiJPZDZKVjVNQ0pIdSIsImlhdCI6MTcwOTg4NTA2MiwibmJmIjoxNzA5ODg1MDYyLCJleHAiOjE3MTI0NzcwNjJ9.C2HYIbWQ8QQ0R6ni_sn4TcfBurxToUF4htCy7mxwWjQBvec5Dr14X7hKawItvQ_4NQQMt7XWaXZfDlmnUfrJmw\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/logout" : {
      "put" : {
        "tags" : [ "v1" ],
        "summary" : "로그아웃",
        "description" : "로그아웃",
        "operationId" : "logout-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-logout1664018147"
              },
              "examples" : {
                "logout-success" : {
                  "value" : "{\n  \"fcm_token\" : \"dKEzve24K7rLfAn\",\n  \"device_token\" : \"O1vMVg4WAdZB60w\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "logout-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/refresh" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "Access Token 재발급",
        "description" : "Access Token 재발급",
        "operationId" : "refresh-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-refresh-73082285"
              },
              "examples" : {
                "refresh-success" : {
                  "value" : "{\n  \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6ImJiZmNhYzVjLTY4YzAtNDhlNi04MTczLWQxNTQ2NDYzM2ZjMiIsInN1YiI6IkYycEZpSkxEc1VGIiwiaWF0IjoxNzA5ODg1MDYzLCJuYmYiOjE3MDk4ODUwNjMsImV4cCI6MTcxMjQ3NzA2M30.hN7Ky2JIZADYCuSfCjiUDna0CpQ7MYqnzdXH5jabkKFEB2Z2MI-fwwPa2GqH0ez1TrsZnA0ERjJtXUzzrQv40Q\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-refresh1697318922"
                },
                "examples" : {
                  "refresh-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6IjhhMzgzNmM3LThiZDEtNDBkZC04MDU3LTc1MzRjMThhMjJiZCIsInN1YiI6IkYycEZpSkxEc1VGIiwiaWF0IjoxNzA5ODg1MDYzLCJuYmYiOjE3MDk4ODUwNjMsImV4cCI6MTcwOTg4NTI0M30.aTBJSxEsJ8cwdC4Ugxatt98wcwlzJJrR6huzpwWZRPUblNsZKO7ArbKTChR1gYuC97rhfbIPdmsh4VJzZTDqJQ\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/register" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "회원가입",
        "description" : "회원가입",
        "operationId" : "register-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-register171397375"
              },
              "examples" : {
                "register-success" : {
                  "value" : "{\n  \"username\" : \"BRGXhnr6ESMk\",\n  \"password\" : \"pQE6FuqTzr4gjGNf3\",\n  \"email\" : \"iHCGmvR@ErUeU.com\",\n  \"nickname\" : \"xKccz\",\n  \"notification\" : {\n    \"vote_progress_notification\" : true,\n    \"vote_end_notification\" : true,\n    \"vote_delivery_notification\" : true\n  }\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-login-985494254"
                },
                "examples" : {
                  "register-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"username\" : \"BRGXhnr6ESMk\",\n    \"roles\" : [ \"CLIENT_0\" ],\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiI0YjdhNzY1MS00OTIyLTRlMzQtOGYzZi1lYjhlNDNmYTU0YTAiLCJzdWIiOiJCUkdYaG5yNkVTTWsiLCJpYXQiOjE3MDk4ODUwNjMsIm5iZiI6MTcwOTg4NTA2MywiZXhwIjoxNzA5ODg1MjQzfQ.kf3ZHGUDLeC-3ICQyAbG7HS9p3v3Fqh1pkLaAinKuuvhRya9039YcqoybproYdiEql49g-brCtwl05QSyYOxUA\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiI2YzFjZTliNi03ZTZiLTRkZDAtOTY3Zi02ODY2ZjBkMjUzMGMiLCJzdWIiOiJCUkdYaG5yNkVTTWsiLCJpYXQiOjE3MDk4ODUwNjMsIm5iZiI6MTcwOTg4NTA2MywiZXhwIjoxNzEyNDc3MDYzfQ.k5azwdw5B_hsk6nzKJxLGCn94-UKhnrl3740XZ5XsuATQnzzjvQIDLXDKHXSh71Xm_QOgmfSvl90R6iSlUFDQA\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/set-new-password" : {
      "patch" : {
        "tags" : [ "v1" ],
        "summary" : "비밀번호 재설정",
        "description" : "비밀번호 재설정",
        "operationId" : "set-new-password-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-set-new-password-35676860"
              },
              "examples" : {
                "set-new-password-success" : {
                  "value" : "{\n  \"new_password\" : \"49HZzHYOh6W3RFs\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "set-new-password-success" : {
                    "value" : "{\n  \"message\" : \"비밀번호 재설정이 완료되었습니다.\",\n  \"code\" : \"2010\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/update-nickname" : {
      "patch" : {
        "tags" : [ "v1" ],
        "summary" : "닉네임 변경",
        "description" : "닉네임 변경",
        "operationId" : "update-nickname-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-update-nickname-1740837738"
              },
              "examples" : {
                "update-nickname-success" : {
                  "value" : "{\n  \"new_nickname\" : \"jV8kSj\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "update-nickname-success" : {
                    "value" : "{\n  \"message\" : \"닉네임 변경이 완료되었습니다.\",\n  \"code\" : \"2011\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/forgot-password/send-otp" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "비밀번호 찾기 OTP 발송",
        "description" : "비밀번호 찾기 OTP 발송",
        "operationId" : "send-forgot-password-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-forgot-password-send-otp-631624128"
              },
              "examples" : {
                "send-forgot-password-otp-success" : {
                  "value" : "{\n  \"username\" : \"nhGTlD1Jfy\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "send-forgot-password-otp-success" : {
                    "value" : "{\n  \"message\" : \"비밀번호 찾기 인증번호가 전송되었습니다.\",\n  \"code\" : \"3106\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/otp/resend" : {
      "put" : {
        "tags" : [ "v1" ],
        "summary" : "OTP 재전송",
        "description" : "OTP 재전송",
        "operationId" : "resend-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-otp-resend411037104"
              },
              "examples" : {
                "resend-otp-success" : {
                  "value" : "{\n  \"username\" : \"CCH5xQNhyMymeY\",\n  \"otp_type\" : \"forgot-password\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "resend-otp-success" : {
                    "value" : "{\n  \"message\" : \"인증번호가 재전송되었습니다.\",\n  \"code\" : \"3107\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/otp/verify" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "OTP 인증",
        "description" : "OTP 인증",
        "operationId" : "otp-verify-fail-case1verify-otp-fail-case1verify-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-otp-verify-1050633976"
              },
              "examples" : {
                "verify-otp-fail-case1" : {
                  "value" : "{\n  \"username\" : \"jlgqtAiAhi\",\n  \"otp_type\" : \"verify-email\",\n  \"otp\" : \"757381\"\n}"
                },
                "verify-otp-success" : {
                  "value" : "{\n  \"username\" : \"Y3FrH2TFT3K\",\n  \"otp_type\" : \"forgot-password\",\n  \"otp\" : \"583811\"\n}"
                },
                "otp-verify-fail-case1" : {
                  "value" : "{\n  \"username\" : \"ejpFqt7g7bXew\",\n  \"otp_type\" : \"verify-email\",\n  \"otp\" : \"216515\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "verify-otp-fail-case1" : {
                    "value" : "{\n  \"message\" : \"인증번호가 일치하지 않습니다.\",\n  \"code\" : \"3101\"\n}"
                  },
                  "otp-verify-fail-case1" : {
                    "value" : "{\n  \"message\" : \"인증번호가 일치하지 않습니다.\",\n  \"code\" : \"3101\"\n}"
                  }
                }
              }
            }
          },
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-verify1422706013"
                },
                "examples" : {
                  "verify-otp-success" : {
                    "value" : "{\n  \"message\" : \"인증번호가 인증되었습니다.\",\n  \"code\" : \"3104\",\n  \"data\" : {\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiIwMWRhYWJkYy0zYjE1LTQyMDQtOWQwMC0xMjBkNTI5MjA2NjYiLCJzdWIiOiJZM0ZySDJURlQzSyIsImlhdCI6MTcwOTg4NTA2NSwibmJmIjoxNzA5ODg1MDY1LCJleHAiOjE3MDk4ODUyNDV9.OAomkjYTeya2CgaPviUlQM6tSrDkVpuZtiLZJlmheHcXnf9Tp4KXtt2OwzDR-Pw3ctwb4o_u8HXbN5QE1MxdIw\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiI4OTcyOTFkNy1hOTJmLTRjMDUtOTA2ZS1iZDEyNGU5OWFhM2MiLCJzdWIiOiJZM0ZySDJURlQzSyIsImlhdCI6MTcwOTg4NTA2NSwibmJmIjoxNzA5ODg1MDY1LCJleHAiOjE3MTI0NzcwNjV9.CzcJ3K9DvBo3FRVDB_tDq0YmNOJL_uJCCHwiFcsRqGbWLPFPm0EVzVUfIIlrwnVgrhvep_e1k0IDO8pm8EuaaA\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "v1-refresh1697318922" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              }
            },
            "description" : "Response Data"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-otp-verify-1050633976" : {
        "type" : "object",
        "properties" : {
          "otp" : {
            "type" : "string",
            "description" : "OTP"
          },
          "otp_type" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-register171397375" : {
        "type" : "object",
        "properties" : {
          "notification" : {
            "type" : "object",
            "properties" : {
              "vote_delivery_notification" : {
                "type" : "boolean",
                "description" : "종료된 투표 영상 업로드 알림 여부"
              },
              "vote_progress_notification" : {
                "type" : "boolean",
                "description" : "투표 진행 알림 여부 설정"
              },
              "vote_end_notification" : {
                "type" : "boolean",
                "description" : "투표 종료 알림 여부 설정"
              }
            },
            "description" : "알림 설정"
          },
          "password" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "nickname" : {
            "type" : "string",
            "description" : "닉네임"
          },
          "email" : {
            "type" : "string",
            "description" : "이메일"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-update-nickname-1740837738" : {
        "type" : "object",
        "properties" : {
          "new_nickname" : {
            "type" : "string",
            "description" : "새로운 닉네임"
          }
        }
      },
      "v1-logout1664018147" : {
        "type" : "object",
        "properties" : {
          "device_token" : {
            "type" : "string",
            "description" : "Device Token"
          },
          "fcm_token" : {
            "type" : "string",
            "description" : "Fcm Token"
          }
        }
      },
      "v1-otp-resend411037104" : {
        "type" : "object",
        "properties" : {
          "otp_type" : {
            "type" : "string",
            "description" : "Otp Type"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-login-985494254" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              },
              "refresh_token" : {
                "type" : "string",
                "description" : "Refresh Token"
              },
              "roles" : {
                "type" : "array",
                "description" : "권한",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "username" : {
                "type" : "string",
                "description" : "아이디"
              }
            },
            "description" : "데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-otp-verify1422706013" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              },
              "refresh_token" : {
                "type" : "string",
                "description" : "Refresh Token"
              }
            }
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-find-username-272417006" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "이메일"
          }
        }
      },
      "v1-login1041369120" : {
        "type" : "object",
        "properties" : {
          "password" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "device" : {
            "type" : "object",
            "properties" : {
              "device_token" : {
                "type" : "string",
                "description" : "디바이스 토큰"
              },
              "fcm_token" : {
                "type" : "string",
                "description" : "FCM 토큰"
              }
            },
            "description" : "로그인 디바이스 정보"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-refresh-73082285" : {
        "type" : "object",
        "properties" : {
          "refresh_token" : {
            "type" : "string",
            "description" : "Refresh Token"
          }
        }
      },
      "v1-set-new-password-640416564" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-forgot-password-send-otp-631624128" : {
        "type" : "object",
        "properties" : {
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-set-new-password-35676860" : {
        "type" : "object",
        "properties" : {
          "new_password" : {
            "type" : "string",
            "description" : "새로운 비밀번호"
          }
        }
      }
    },
    "securitySchemes" : {
      "bearerAuthJWT" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  }
}