{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Tune Fun REST API V1 Documentation",
    "description" : "Spring REST Docs with SwaggerUI.",
    "version" : "1.0.0"
  },
  "servers" : [ {
    "url" : "https://api.tunefun.net"
  }, {
    "url" : "http://localhost:8080"
  } ],
  "tags" : [ ],
  "paths" : {
    "/oauth2/authorization/google" : {
      "get" : {
        "tags" : [ "oauth2" ],
        "summary" : "구글 소셜 로그인 페이지 진입",
        "description" : "구글 소셜 로그인 페이지 진입",
        "operationId" : "oauth2-authorization-google-success",
        "responses" : {
          "302" : {
            "description" : "302",
            "headers" : {
              "Location" : {
                "description" : "Redirect URL",
                "schema" : {
                  "type" : "string"
                }
              },
              "Set-Cookie" : {
                "description" : "Set-Cookie",
                "schema" : {
                  "type" : "string"
                }
              }
            }
          }
        }
      }
    },
    "/v1/check-email-duplicate" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "이메일 중복확인",
        "description" : "이메일 중복확인",
        "operationId" : "check-email-duplicate-",
        "parameters" : [ {
          "name" : "email",
          "in" : "query",
          "description" : "이메일",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "check-email-duplicate-success" : {
                    "value" : "{\n  \"message\" : \"사용가능한 이메일입니다.\",\n  \"code\" : \"2008\"\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "check-email-duplicate-failed" : {
                    "value" : "{\n  \"message\" : \"이메일이 중복입니다.\",\n  \"code\" : \"2006\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/check-email-verified" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "이메일 인증 여부 확인",
        "description" : "이메일 인증 여부 확인",
        "operationId" : "check-email-verified-success",
        "parameters" : [ {
          "name" : "Authorization",
          "in" : "header",
          "description" : "AccessToken \"Bearer \" prefix",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "example" : "Bearer eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6IjRmNjdiNjZhLWYzY2UtNGIwYS1iM2VjLTRkMmZhYjQ1NzM5NCIsInN1YiI6IlliZzB5VnZiMEJjRSIsImlhdCI6MTcwOTk5NTA2MCwibmJmIjoxNzA5OTk1MDYwLCJleHAiOjE3MDk5OTUyNDB9.QuRJSHYVeBHB6enVtz7s2mxxpApPYC0Nz-jdpgdK7SqQIBIGpKEY1I7x2wCSHUQf1wginfJd19Oyw9dMlPQ6mA"
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "check-email-verified-success" : {
                    "value" : "{\n  \"message\" : \"이메일 인증이 완료된 계정입니다.\",\n  \"code\" : \"2009\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/check-username-duplicate" : {
      "get" : {
        "tags" : [ "v1" ],
        "summary" : "아이디 중복확인",
        "description" : "아이디 중복확인",
        "operationId" : "check-username-duplicate-success",
        "parameters" : [ {
          "name" : "username",
          "in" : "query",
          "description" : "아이디",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "check-username-duplicate-success" : {
                    "value" : "{\n  \"message\" : \"사용가능한 아이디입니다.\",\n  \"code\" : \"2007\"\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "check-username-duplicate-success-failed" : {
                    "value" : "{\n  \"message\" : \"아이디가 중복입니다.\",\n  \"code\" : \"2005\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/find-username" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "아이디 발송",
        "description" : "아이디 발송",
        "operationId" : "find-username-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-find-username-272417006"
              },
              "examples" : {
                "find-username-success" : {
                  "value" : "{\n  \"email\" : \"cCHBvCE@gtDkn.com\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "find-username-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/login" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "로그인",
        "description" : "로그인",
        "operationId" : "login-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-login1041369120"
              },
              "examples" : {
                "login-success" : {
                  "value" : "{\n  \"username\" : \"l2FoUkV9cd\",\n  \"password\" : \"JBbt6nxV1OuwYlS\",\n  \"device\" : {\n    \"fcm_token\" : \"DnS6y9srdBW7uor\",\n    \"device_token\" : \"GFR8UR2hQzLUu9Z\"\n  }\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-register-985494254"
                },
                "examples" : {
                  "login-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"username\" : \"l2FoUkV9cd\",\n    \"roles\" : [ \"CLIENT_0\" ],\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiI2NWJjM2IwZi0yOTJlLTQ2NGQtODJjYS1mMGUwMzRjOTM1MGUiLCJzdWIiOiJsMkZvVWtWOWNkIiwiaWF0IjoxNzA5OTk1MDYxLCJuYmYiOjE3MDk5OTUwNjEsImV4cCI6MTcwOTk5NTI0MX0.p9AJRSoASv23NuZLAESJSfDxYoy-4JP3tmTdgeDl9Sca-a6GFHH-pBESokCY01ezR_p3jwBv-pe-z_Dv5tB9EQ\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiIyYzVlNDI1Ni1iYjkyLTRmNTctOTUxOS00NzM1ZjdjNjZhYjYiLCJzdWIiOiJsMkZvVWtWOWNkIiwiaWF0IjoxNzA5OTk1MDYxLCJuYmYiOjE3MDk5OTUwNjEsImV4cCI6MTcxMjU4NzA2MX0.zJst0bBWXDY_9TF6fqILw4lCaRB_Va4XsaZC7h1WVnm6Frn-HGH6-BHn4fW49fBtUP4oj6NpydwxVaQbxAjAsg\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/logout" : {
      "put" : {
        "tags" : [ "v1" ],
        "summary" : "로그아웃",
        "description" : "로그아웃",
        "operationId" : "logout-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-logout1664018147"
              },
              "examples" : {
                "logout-success" : {
                  "value" : "{\n  \"fcm_token\" : \"mGK3O63SwlSZnx0\",\n  \"device_token\" : \"jXmMD93NIYKNtSd\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "logout-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/refresh" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "Access Token 재발급",
        "description" : "Access Token 재발급",
        "operationId" : "refresh-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-refresh-73082285"
              },
              "examples" : {
                "refresh-success" : {
                  "value" : "{\n  \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6ImYyNTM1MTFhLWFkNTEtNDlhOC1iMmIxLTZkZWE1M2M5MDNjYiIsInN1YiI6IkdUM1VZOXJMelciLCJpYXQiOjE3MDk5OTUwNjEsIm5iZiI6MTcwOTk5NTA2MSwiZXhwIjoxNzEyNTg3MDYxfQ.ij2A_r0BvMeYrWRU5fLDo_POF6DB4xdhrVNbfgUS6FfBdygyKaQksyi7ji3vX7isKpWGan3eUWC5je3xwzx_PA\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-refresh1697318922"
                },
                "examples" : {
                  "refresh-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiUk9MRV9DTElFTlRfMCIsInRva2VuVHlwZSI6IkJlYXJlciIsImp0aSI6Ijc3YWU1YjhhLWU3NzEtNDM5My04MDkzLTNjZTFiYzlhY2U3NiIsInN1YiI6IkdUM1VZOXJMelciLCJpYXQiOjE3MDk5OTUwNjIsIm5iZiI6MTcwOTk5NTA2MiwiZXhwIjoxNzA5OTk1MjQyfQ.h3U7tw19HPPvS0zfy2imjI6XFHqb9p4b-eQqm2cjxYtFt2RlBbT3ddTL76tLEynf_-dQfc93g1LcxsSwtjHtbg\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/register" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "회원가입",
        "description" : "회원가입",
        "operationId" : "register-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-register171397375"
              },
              "examples" : {
                "register-success" : {
                  "value" : "{\n  \"username\" : \"JPEDK4ZFV1\",\n  \"password\" : \"PvwJlFWGDb4a2SEtg\",\n  \"email\" : \"wqTfTxo@GjNGb.com\",\n  \"nickname\" : \"LsArg\",\n  \"notification\" : {\n    \"vote_progress_notification\" : true,\n    \"vote_end_notification\" : true,\n    \"vote_delivery_notification\" : true\n  }\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-register-985494254"
                },
                "examples" : {
                  "register-success" : {
                    "value" : "{\n  \"message\" : \"요청이 성공적으로 처리되었습니다.\",\n  \"code\" : \"0000\",\n  \"data\" : {\n    \"username\" : \"JPEDK4ZFV1\",\n    \"roles\" : [ \"CLIENT_0\" ],\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiJkYTllMjJjMS1kYWExLTQyOTYtYjEyZC1hNTY2MDc1OWE2NjQiLCJzdWIiOiJKUEVESzRaRlYxIiwiaWF0IjoxNzA5OTk1MDYyLCJuYmYiOjE3MDk5OTUwNjIsImV4cCI6MTcwOTk5NTI0Mn0.A_W9qhYBG3pdEfC4Ighb7OqirX1yIC9yY63Iwb0zq2Al4PzFzdmfw57aCyJPfS3QKswRMuIxhw6CkCVtgsHs_A\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiIwMzQ0MjE0Mi0wM2FlLTRhMTItODIzMS05YTMwMTc2MTU2NTgiLCJzdWIiOiJKUEVESzRaRlYxIiwiaWF0IjoxNzA5OTk1MDYyLCJuYmYiOjE3MDk5OTUwNjIsImV4cCI6MTcxMjU4NzA2Mn0.Xv_siGl3egcjcMAFoB6_FUZ9bURsF1teg2HdrwtmHMCwT0tx2nW7OJIwcWBRk4vvOoZupQpYzsFR5uZ6UTDJkw\"\n  }\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/set-new-password" : {
      "patch" : {
        "tags" : [ "v1" ],
        "summary" : "비밀번호 재설정",
        "description" : "비밀번호 재설정",
        "operationId" : "set-new-password-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-set-new-password-35676860"
              },
              "examples" : {
                "set-new-password-success" : {
                  "value" : "{\n  \"new_password\" : \"G5lFAdYPv9g9hlY\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "set-new-password-success" : {
                    "value" : "{\n  \"message\" : \"비밀번호 재설정이 완료되었습니다.\",\n  \"code\" : \"2010\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/update-nickname" : {
      "patch" : {
        "tags" : [ "v1" ],
        "summary" : "닉네임 변경",
        "description" : "닉네임 변경",
        "operationId" : "update-nickname-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-update-nickname-1740837738"
              },
              "examples" : {
                "update-nickname-success" : {
                  "value" : "{\n  \"new_nickname\" : \"2pvu41\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "update-nickname-success" : {
                    "value" : "{\n  \"message\" : \"닉네임 변경이 완료되었습니다.\",\n  \"code\" : \"2011\"\n}"
                  }
                }
              }
            }
          }
        },
        "security" : [ {
          "bearerAuthJWT" : [ ]
        } ]
      }
    },
    "/v1/forgot-password/send-otp" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "비밀번호 찾기 OTP 발송",
        "description" : "비밀번호 찾기 OTP 발송",
        "operationId" : "send-forgot-password-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-forgot-password-send-otp-631624128"
              },
              "examples" : {
                "send-forgot-password-otp-success" : {
                  "value" : "{\n  \"username\" : \"IkXih7v8fJ\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "send-forgot-password-otp-success" : {
                    "value" : "{\n  \"message\" : \"비밀번호 찾기 인증번호가 전송되었습니다.\",\n  \"code\" : \"3106\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/otp/resend" : {
      "put" : {
        "tags" : [ "v1" ],
        "summary" : "OTP 재전송",
        "description" : "OTP 재전송",
        "operationId" : "resend-otp-success",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-otp-resend411037104"
              },
              "examples" : {
                "resend-otp-success" : {
                  "value" : "{\n  \"username\" : \"Nhn3DwPEp9\",\n  \"otp_type\" : \"forgot-password\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "201",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "resend-otp-success" : {
                    "value" : "{\n  \"message\" : \"인증번호가 재전송되었습니다.\",\n  \"code\" : \"3107\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/otp/verify" : {
      "post" : {
        "tags" : [ "v1" ],
        "summary" : "OTP 인증",
        "description" : "OTP 인증",
        "operationId" : "verify-otp-",
        "requestBody" : {
          "content" : {
            "application/json;charset=UTF-8" : {
              "schema" : {
                "$ref" : "#/components/schemas/v1-otp-verify-1050633976"
              },
              "examples" : {
                "verify-otp-success" : {
                  "value" : "{\n  \"username\" : \"hPEqQkFaSgUZ\",\n  \"otp_type\" : \"forgot-password\",\n  \"otp\" : \"788277\"\n}"
                },
                "verify-otp-fail-case1" : {
                  "value" : "{\n  \"username\" : \"7Z4mf9QikWgZ1\",\n  \"otp_type\" : \"verify-email\",\n  \"otp\" : \"912131\"\n}"
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "200",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-otp-verify1422706013"
                },
                "examples" : {
                  "verify-otp-success" : {
                    "value" : "{\n  \"message\" : \"인증번호가 인증되었습니다.\",\n  \"code\" : \"3104\",\n  \"data\" : {\n    \"access_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiJhM2JjNmQ2Yy1hZTM4LTRkYzctYjZkZS1hZGFmNTFiNjM5NjYiLCJzdWIiOiJoUEVxUWtGYVNnVVoiLCJpYXQiOjE3MDk5OTUwNjMsIm5iZiI6MTcwOTk5NTA2MywiZXhwIjoxNzA5OTk1MjQzfQ.EUCdE9W4EBxTLxUBp_m_I_OID60s4A-9NJP0KX7XOmIkSF_K1fsUsERXgMGPRZ0wmT4oxnNrqxo4nNYeLiYJoQ\",\n    \"refresh_token\" : \"eyJhbGciOiJIUzUxMiJ9.eyJyb2xlIjoiQ0xJRU5UXzAiLCJ0b2tlblR5cGUiOiJCZWFyZXIiLCJqdGkiOiIwYjVjOWZkMS0xMTkyLTQ3ODQtYTAxZC1lYzM0ZDRmMWIzZjEiLCJzdWIiOiJoUEVxUWtGYVNnVVoiLCJpYXQiOjE3MDk5OTUwNjMsIm5iZiI6MTcwOTk5NTA2MywiZXhwIjoxNzEyNTg3MDYzfQ.TrlIzGnKlDqRgfk6h3DGiDf4zEHlrtwWyUstSXsAj6Xlx8WKOoWprZjPhR90DIT2rBqhdvfOqdRjxtL6oETTpw\"\n  }\n}"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "400",
            "content" : {
              "application/json;charset=UTF-8" : {
                "schema" : {
                  "$ref" : "#/components/schemas/v1-set-new-password-640416564"
                },
                "examples" : {
                  "verify-otp-fail-case1" : {
                    "value" : "{\n  \"message\" : \"인증번호가 일치하지 않습니다.\",\n  \"code\" : \"3101\"\n}"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "v1-refresh1697318922" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              }
            },
            "description" : "Response Data"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-register171397375" : {
        "type" : "object",
        "properties" : {
          "notification" : {
            "type" : "object",
            "properties" : {
              "vote_delivery_notification" : {
                "type" : "boolean",
                "description" : "종료된 투표 영상 업로드 알림 여부"
              },
              "vote_progress_notification" : {
                "type" : "boolean",
                "description" : "투표 진행 알림 여부 설정"
              },
              "vote_end_notification" : {
                "type" : "boolean",
                "description" : "투표 종료 알림 여부 설정"
              }
            },
            "description" : "알림 설정"
          },
          "password" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "nickname" : {
            "type" : "string",
            "description" : "닉네임"
          },
          "email" : {
            "type" : "string",
            "description" : "이메일"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-otp-verify-1050633976" : {
        "type" : "object",
        "properties" : {
          "otp" : {
            "type" : "string",
            "description" : "OTP"
          },
          "otp_type" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-update-nickname-1740837738" : {
        "type" : "object",
        "properties" : {
          "new_nickname" : {
            "type" : "string",
            "description" : "새로운 닉네임"
          }
        }
      },
      "v1-logout1664018147" : {
        "type" : "object",
        "properties" : {
          "device_token" : {
            "type" : "string",
            "description" : "Device Token"
          },
          "fcm_token" : {
            "type" : "string",
            "description" : "Fcm Token"
          }
        }
      },
      "v1-otp-resend411037104" : {
        "type" : "object",
        "properties" : {
          "otp_type" : {
            "type" : "string",
            "description" : "Otp Type"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-register-985494254" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              },
              "refresh_token" : {
                "type" : "string",
                "description" : "Refresh Token"
              },
              "roles" : {
                "type" : "array",
                "description" : "권한",
                "items" : {
                  "oneOf" : [ {
                    "type" : "object"
                  }, {
                    "type" : "boolean"
                  }, {
                    "type" : "string"
                  }, {
                    "type" : "number"
                  } ]
                }
              },
              "username" : {
                "type" : "string",
                "description" : "아이디"
              }
            },
            "description" : "데이터"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-otp-verify1422706013" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "data" : {
            "type" : "object",
            "properties" : {
              "access_token" : {
                "type" : "string",
                "description" : "Access Token"
              },
              "refresh_token" : {
                "type" : "string",
                "description" : "Refresh Token"
              }
            }
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-find-username-272417006" : {
        "type" : "object",
        "properties" : {
          "email" : {
            "type" : "string",
            "description" : "이메일"
          }
        }
      },
      "v1-login1041369120" : {
        "type" : "object",
        "properties" : {
          "password" : {
            "type" : "string",
            "description" : "비밀번호"
          },
          "device" : {
            "type" : "object",
            "properties" : {
              "device_token" : {
                "type" : "string",
                "description" : "디바이스 토큰"
              },
              "fcm_token" : {
                "type" : "string",
                "description" : "FCM 토큰"
              }
            },
            "description" : "로그인 디바이스 정보"
          },
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-refresh-73082285" : {
        "type" : "object",
        "properties" : {
          "refresh_token" : {
            "type" : "string",
            "description" : "Refresh Token"
          }
        }
      },
      "v1-set-new-password-640416564" : {
        "type" : "object",
        "properties" : {
          "code" : {
            "type" : "string",
            "description" : "상태 코드"
          },
          "message" : {
            "type" : "string",
            "description" : "시스템 메시지"
          }
        }
      },
      "v1-forgot-password-send-otp-631624128" : {
        "type" : "object",
        "properties" : {
          "username" : {
            "type" : "string",
            "description" : "아이디"
          }
        }
      },
      "v1-set-new-password-35676860" : {
        "type" : "object",
        "properties" : {
          "new_password" : {
            "type" : "string",
            "description" : "새로운 비밀번호"
          }
        }
      }
    },
    "securitySchemes" : {
      "bearerAuthJWT" : {
        "type" : "http",
        "scheme" : "bearer",
        "bearerFormat" : "JWT"
      }
    }
  }
}